$primary_clr: #ebdddd;
$secondary_clr: #243334;
$sec2_clr: #131a24;
$contrast_clr: #5d0303;
$contrast2_clr: #8b1f09;
$contrast3_clr: #eb320d;
$font_size: 18px;

@mixin wrap_background {
    background: linear-gradient(90deg, $sec2_clr, $secondary_clr);
    color: $primary_clr;
    border: 1px solid $primary_clr;
    border-radius: 10px;
}

body {
    color: $primary_clr;
    font-size: $font_size;
    background: linear-gradient(45deg, $contrast2_clr, $sec2_clr, $secondary_clr);
    min-height: 100vh;
}

a {
    text-decoration: none;
}

.container {
    width: 85%;
    margin: 0 auto;
}

@media (max-width: 769px) {
    .container {

        width: 100%;
    }
}

.btn {
    background: $contrast2_clr;
    // border: 2px solid $primary_clr;
    color: $primary_clr;
}


.btn:hover {
    background: $contrast_clr;
    color: $primary_clr;
}